.reviewlist{
   display:none; 
   position:fixed;
   top:0;
   left:0;
   background-color:rgba(0,0,0,0.5);
   height: 100%;
   width:100%;
   z-index:1;
}

.reviewlistbox{
    background-color: lightblue;
    margin: 15% auto;
    padding:20px;
    width:60%;

}


.testbox{
    display:none;
    position:fixed;
    top:0;
    left:0;
    background-color:brown;
    height:100%;
    width:100%;
    z-index:1;
}

#ReviewInput {
    width:68%;
    height:400px;
}



